
@model MedicalTranscriptionEntry.Models.Patient

@{
    ViewBag.Title = "EditPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $("#btnUpdate").click(function () {
            var dataPt = $("#frmPtData").serializeObject();
            $.ajax({
                type: "POST",
                url: "Patient/UpdateData",
                data: JSON.stringify({
                    'ptInfo': dataPt
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var jsdata = JSON.parse(JSON.stringify(data.Message));
                    if (jsdata == true)
                    {
                        alert("Updated Successfully!!")
                    }

                },
                error: function (jqXHR, exception) {

                }
            });

        });
    });
</script>
<h2>Edit Patient</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmPtData" }))
        {
            <div class="form-group">
                <label for="PatientId" class="control-label">Patient ID</label>
                @Html.TextBoxFor(m => m.ID, null, new { @class = "form-control" , @readonly = "readonly"})
                
            </div>

            <div class="form-group">
                <label for="PatientName" class="control-label">Name</label>
                @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control" })

            </div>

            <div class="form-group">
                <label for="Gender" class="control-label">Gender</label>
                @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.Gender), new { @class = "form-control"})

                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Age" class="control-label">Age</label>
                @Html.TextBoxFor(m => m.Age, null, new { @class = "form-control" })

                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Department" class="control-label">Department</label>
                @Html.DropDownListFor(m => m.Department, new SelectList(ViewBag.Department), new { @class = "form-control" })

                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Sub-Department" class="control-label">Sub-Department</label>
                @Html.DropDownListFor(m => m.SubDepartment, new SelectList(ViewBag.SubDepartment), new { @class = "form-control" })


                <span asp-validation-for="Department" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" id="btnUpdate" value="Save" class="btn btn-default" style="background-color:#0D94D2;color:white"/>
            </div>
        }

    </div>
</div>

